# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz



# routes
src/app/(site)/(auth)
src/app/(site)/about
src/app/(site)/arm
src/app/(site)/bci
src/app/(site)/bioware
src/app/(site)/blogs
src/app/(site)/category
src/app/(site)/drones
src/app/(site)/exo-skeletons
src/app/(site)/leg-replacement
src/app/(site)/news
src/app/(site)/pricing
src/app/(site)/your-bci

# api
src/app/api/admin
src/app/api/auth
src/app/api/comp
src/app/api/contex
src/app/api/forgot-password
src/app/api/get-cartId
src/app/api/get-product
src/app/api/paymentd
src/app/api/register
src/app/api/revalidate
src/lib
src/stripe

#utils
src/utils/auth.ts




# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

